<!doctype html>
<html ng-app='LunchCheck'>
<head>
  <title>Lunch Checker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
  <style>
  .message { font-size: 1.3em; font-weight: bold; }
  </style>
</head>

<body ng-controller='LunchCheckController'>
  <div class="container">
    <h1>Lunch Checker</h1>
    <h5>Note: An empty item in the list will not count as a lunch item. For example, the list "apple,,orange" will only count as 2 items.</h5>
    <div class="form-group">

      <input
      type="text"
      placeholder="list comma separated dishes you usually have for lunch"
      class="form-control"
      ng-model="foodList">

    </div>
    <div class="form-group">
      <button ng-click="determineIfTooMuchFood()" class="btn btn-default">Check If Too Much</button>
    </div>
    <div class="form-group message"><div style="{{borderColor}};{{textColor}}">{{displayIfTooMuchFood()}}</div></div>

  </div>
</body>
</html>
